.fast-theme-toggle,
.fast-theme-toggle img,
.fast-theme-toggle image,
.fast-theme-toggle video,
.fast-theme-toggle button,
.fast-theme-toggle iframe,
.fast-theme-toggle [role="img"],
.fast-theme-toggle [style^="background-image:"] {
  filter: invert(0.88) hue-rotate(180deg) contrast(1.12) saturate(1.12);
}

.fast-theme-toggle {
  background-color: whitesmoke;
}

.fast-theme-toggle button img,
.fast-theme-toggle button [role="img"] {
  filter: unset;
}

@media all and (display-mode: fullscreen) {
  .fast-theme-toggle,
  .fast-theme-toggle img,
  .fast-theme-toggle image,
  .fast-theme-toggle video,
  .fast-theme-toggle button,
  .fast-theme-toggle iframe,
  .fast-theme-toggle [role="img"],
  .fast-theme-toggle [style^="background-image:"] {
    filter: unset;
  }
}
