.fast-theme-toggle,
.fast-theme-toggle img,
.fast-theme-toggle svg,
.fast-theme-toggle image,
.fast-theme-toggle video,
.fast-theme-toggle button,
.fast-theme-toggle iframe,
.fast-theme-toggle [role="img"],
.fast-theme-toggle [style*="background-image:"] {
  filter: invert(1) hue-rotate(180deg);
}

.fast-theme-toggle > body {
  background-color: white;
}

@-moz-document url-prefix() {
  .fast-theme-toggle > body {
    background-color: black;
  }
}

.fast-theme-toggle button img,
.fast-theme-toggle button [role="img"],
.fast-theme-toggle span[style*="background-image:"],
.fast-theme-toggle svg[width="100%"][height="100%"],
.fast-theme-toggle
  :not(img):not([style*="background-image:"])[aria-hidden="true"] {
  filter: unset;
}
